* {
    text-decoration: none;
}

body {
    /*background-color: #ff9900;*/
    background-image: url("background3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header {
    background-color: #2b78e4;
    border: #2b78e4;
    height: 60px;
    width: 100%;
}

header .header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: rgb(250, 248, 248);
    text-transform: capitalize;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
}

main nav {
    padding: 20px;
}

main nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
    height: 25px;
    padding: 20px 20px;
    background-color: #f8f8ff;
}

main nav ul li {
    /*display: inline-block;*/
    float: left;
    list-style: none;
    padding: 20 20px 20px 20px;
}

main nav ul li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    color: black;
}

main nav ul li a:hover {
    color: #2b78e4;
}

footer {
    font-size: 13px;
    display: block;
    margin: 0 auto;
    color: white;
    background-color: #2b78e4;
    text-align: center;
    margin-top: 200px;
}


/*Main page*/

table {
    width: 800px;
    background-color: #eedfcc;
    margin: 0 auto;
}

th,
td {
    padding: 10px;
}

th {
    font-size: 90%;
    text-align: center;
    border-bottom: 2px solid blue;
    border-top: 2px solid #f9cb9c;
}

fieldset legend {
    font-weight: bold;
    font-size: 20px;
    color: #1e63c4
}

fieldset {
    width: 100px;
    margin: 0 auto;
    background-color: #eedfcc;
    margin-top: 90px;
    text-align: center;
}

input[type=text],
input[type=password],
input[type=email] {
    border: none;
    border-bottom: 1px solid#1e63c4;
    padding: 9px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    border-bottom: 2px solid#1e63c4;
}

input[type=submit] {
    border: none;
    padding: 9px;
    width: 250px;
    background-color: #2b78e4;
    border-radius: 12px;
}


/*Request_detail*/

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eedfcc;
    width: auto;
}

.detail {
    border: 2px solid;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    background-color: #f8f8ff;
    border-color: #2b78e4;
}

.new_request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*new request page*/

p {
    background-color: #f8f8ff;
    width: fit-content;
    font-size: 1.2em;
}


/*request detail*/

input[type=button] {
    border: none;
    padding: 9px;
    width: fit-content;
    background-color: #2b78e4;
    border-radius: 12px;
}

.btn-resolved,
.btn-approve,
.btn-disapprove {
    float: left;
    padding: 20 20px 20px 20px;
}